@model IEnumerable<magazun.Models.Product>


@{
	var orders = ViewBag.Orders as List<magazun.Models.Order>;
	
	string lastName = "";
	string firstName = "";
	string login_user1 = "";
	string pasw1 = "";

	string pokaz_button_zamovlenny = "none";//для показу кнопки і т.п

	string a = TempData["error1"].ToString();
	if (a != "")
	{
			<script>
				alert(@Json.Serialize(TempData["error1"]));
		</script>
	}
	else
	{
		a = TempData["role"].ToString().ToLower();
		if (a == "user")
		{
			pokaz_button_zamovlenny = "block";
		}

		if (a != "")
		{
			lastName = TempData["lastName"].ToString();
			firstName = TempData["firstName"].ToString();
			login_user1 = TempData["login_user"].ToString();

			pasw1 = TempData["pasw"].ToString();			
		}
	}
}

<script src="/js/start.js"></script>


<div>
	<table class="table table-striped">
		<tr>
			<td align="center">
				<h2>
					<em><span style="margin-right:50px; color:blue">@lastName @firstName</span></em>
					Вітаємо на сайті NEW_SHOP
				</h2>
				<h4>Історія покупок:</h4>
			</td>

			<td align="right">
				@* повернення назад+++++++++++++++ *@
				<form id="nazad" method="post" asp-action="Index_product">
					@* дані для повернення++++++++++++++ *@
					<input name="firstName1" id="firstName1" type="text" value="@firstName" hidden />
					<input name="lastName1" id="lastName1" type="text" value="@lastName" hidden />
					<input name="login_user" id="login_user" type="text" value="@login_user1" hidden />
					@* <input name="role1" id="role1" type="text" value="@role" hidden /> *@
					<input name="pasw" id="pasw" type="text" value="@pasw1" hidden />
					@* дані для повернення-------------- *@

				<a title="назад"  >
						<img src="~/img/nazad.PNG" width="40px" style="cursor:pointer" onclick="nazad_index2()"/>
					</a>
				</form> 
				@* повернення назад-------------------------------- *@
				</td>
		</tr>
	</table>
	
	<table class="table table-striped">
		<thead>
			<tr>
				<td>
					Дата
				</td>
				<td >
					Назва товару
				</td>
				<td width="100px">
					Ціна
				</td>
			</tr>
			
		</thead>
		<tbody>
			@{
				foreach (var item in orders)
				{
						<tr>
							<td>
							@item.OrderDate.Date.ToString("dd-MM-yyyy")
							</td>
							<td>
								<ul>
									@foreach (var orderProduct in item.OrderProducts)
								{
										<li>@orderProduct.Product.Name - @orderProduct.Product.Price $</li>
								}
								</ul>
							</td>
							<td>
								@item.TotalAmount
							</td>
						</tr>
				}
			}
			
		</tbody>
	</table>
</div>

@{
	if (orders.Count() == 0)
	{
		<span>Не має покупок</span>
	}
}

